{% load staticfiles %}
<html>	
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'home/css/estilo.css' %}">
		<link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}">
		<script src="{% static 'common/js/jquery-3.0.0.min.js' %}"></script>
		<script src="{% static 'common/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.magnific-popup.js' %}"></script>
		<script src="{% static 'home/js/inicio.js'  %}"></script>
		<link rel="icon" type="image/png" href="{% static 'common/img/favicon.png' %}" />

		
		
		<title>CODI - The Growth Marketing Platform</title>
	</head>

	<body>	
		<header class="row">		
			<div class="col-md-12 col-sm-12 imgFondo">
				<div class="row">
					<img src="{% static 'home/img/codiLogo.png' %}" class="codiLogo img-responsive"/>
					<div class="col-md-12 col-sm-12">
						<button type="button" class="btn-menu menu collapse in" id="btn-menu-ent" data-toggle="collapse" data-target="#menu,#btn-menu-ent,#btn-menu-sal"><i class="glyphicon glyphicon-menu-hamburger menu iconoMenu"></i></button>
					</div>
				</div>
				<nav id="menu" class="collapse">
					<ul class="menus">
	    			<li class="text-li" class="text-center"><button type="button" class="btn-menu collapse" id="btn-menu-sal" data-toggle="collapse" data-target="#menu,#btn-menu-sal,#btn-menu-ent"><i class="glyphicon glyphicon-remove icono"></i> </button></li>
				    <li> Inicio </li>
				    <li><a class="text-li" href="#pantalla2">Caracteristicas</a> </li>
				    <li><a class="text-li" href="#integraciones">Compañias</a></li>
				    <li><a class="text-li open-popup-contacto" href="#popupContacto"> Contacto </a></li>
				  </ul>		
				</nav>
				
				<section class="text-center pantalla1">

					<h1 class="titulo text-center">Crecé Tu Negocio de Forma Exponencial</h1>
					<p class="subtitulo">Descubre nuestra poderosa herramienta para crear anuncios en todas las redes sociales.</br>
						Utilizá nuetstro algoritmo inteligente que administra automáticamente tu presupuesto.</p>
					<p>
						<a href="{% url  'login_page' %}">
							<button type="button" class="btn btn-ancho min "><strong>PROBAR AHORA</strong></button>
						</a>
					</p>
				</section>
				<a href="#pantalla2" class="ese-icono"><i class="glyphicon glyphicon-chevron-down icono"></i></a>
			</div>
		</header>

 		<section class="row" id="pantalla2">
			<div class="integraciones vertical-align">

					<div class="col-xs-2 col-xs-offset-1 hidden-xs">
						<img src="{% static 'home/img/amway.png' %}" class="img-responsive activeCampaign "/>
					</div>
					<div class="col-xs-2 col-xs-offset-1 hidden-xs">
					<img src="{% static 'home/img/herbalife.png' %}" class="img-responsive analitycs"/>
					</div>
					<div class="col-xs-2 col-xs-offset-1 hidden-xs">
					<img src="{% static 'home/img/tupperware.png' %}" class="img-responsive mailChimp"/>
					</div>
					<div class="col-xs-3 center-block div-btn-int">
					<a href="#integraciones "><button class="btn btn-integraciones">+1300 compañias</button></a>
					</div>
				</ul>
			</div>
		</section>

		<section class="row">

			<section class="col-md-8 col-sm-6">
				<div class="row">
					<div class="col-md-12 col-sm-12 panel panel-alto-mitad text-center">
						<h2 class="sub">Invertí con seguridad</h2>
						<p><a href="#landing"><button  class="btn btn-panel">Ver más</button></a></p>
					</div>
				</div>
				<div class="row">

					<div id="mark" class="col-md-6 col-sm-6 panel panel-alto-mitad text-center">
						<h2 class="sub"></br>Academy</h2>
						<p><a href="#growth"><button class="btn btn-panel">Ver más</button></a></p>
					</div>
				
					<div class="col-md-6 col-sm-6 panel panel-alto-mitad text-center" id="panel-raro">
						<h2 class="sub">Incrementa tus </br>conversiones</h2>
						<p><a href="#conversiones"><button class="btn btn-panel">Ver más</button></a></p>
					</div>
				</div>
			</section>

			<section id="mork" class="col-md-4 col-sm-6 panel text-center">
				<h2 class="sub">Tu analista de datos</h2>
				<p><a href="#metricas"><button class="btn btn-panel">Ver más</button></a></p>
			</section>	
		</section>
			
		<section class="row" id="landing">
			<div class="col-md-6 col-sm-6 col-xs-12 carac1">
				<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 col-xs-12 alto vertical-align">
					<img src="{% static 'home/img/Icono_1.png' %}" alt="Estadisticas de negocio" class="img-responsive carac1Imagen "/>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 carac1">
				<div class="col-md-8 col-sm-8 text-izquierda"> 
					<h2 class="titulo-carac">Invertí con seguridad</h2>
					<p class="descripcion">Hemos desarrollado un algoritmo inteligente capaz de administrar automaticamente tu inversión en las redes sociales que mas beneficios te traigan.</p>
				</div>
			</div>
		</section>
		
		<div id="conversiones"></div>
		<section class="row hidden-xs" >
			<div class="col-md-6 col-sm-6 col-xs-12 carac2">
				<div class="col-md-offset-4 col-md-8 col-sm-8 col-sm-offset-4 text-derecha"> 	
					<h2 class="titulo-carac">Incrementa tus conversiones</h2>
					<p class="descripcion">Hemos construido todo un sistema de herramientas pensadas para hacer crecer tu negocio y organización de forma exponencial. Cada funcionalidad está diseñada y desarrollado para que alcances tus objetivos de prospección, segmentación, seguimiento y activación masiva.</p>	
				</div>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-12 carac2">
				<div class="col-md-6 col-sm-6 alto vertical-align">
					<img src="{% static 'home/img/Icono_2.png' %}" alt="Estadisticas de negocio" class="img-responsive carac2Imagen"/>
				</div>
			</div>	
		</section>
		<section class="row hidden-lg hidden-md hidden-sm" >
			<div class="col-md-6 col-xs-12 carac2">
				<div class="col-md-6 alto vertical-align">
					<img src="{% static 'home/img/Icono_2.png' %}" alt="Estadisticas de negocio" class="img-responsive carac2Imagen"/>
				</div>
			</div>
			
			<div class="col-md-6 col-xs-12 carac2">
				
				<div class="col-md-offset-4 col-md-8 text-izquierda"> 	
					<h2 class="titulo-carac">Incrementa tus conversiones</h2>
					<p class="descripcion">Hemos construido todo un sistema de herramientas pensadas para hacer crecer tu negocio
						y organización de forma exponencial. Cada funcionalidad está diseñada y desarrollado para que alcances tus
						objetivos de prospección, segmentación, seguimiento y activación masiva.</p>
				</div>
			</div>	
		</section>
		
		<section class="row" id="metricas">
			<div class="col-md-6 col-sm-6 col-xs-12 carac1">
				<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 alto vertical-align">
					<img src="{% static 'home/img/Icono_3.png' %}" alt="Estadisticas de negocio" class="img-responsive carac1Imagen"/>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 carac1">
				<div class="col-md-8 col-sm-8 text-izquierda"> 
					<h2 class="titulo-carac">Controla tus metricas</h2>
					<p class="descripcion">Entender qué estás haciendo bien y qué no estás haciendo tan bien, puede marcar la diferencia entre el éxito y el fracaso de tu estrategia digital, por tal razón desarrollamos un Dashboard para que de forma rápida y sencilla puedas tener acceso a información relevante que te ayude a tomar decisiones acertadas para la optimización de tu negocio y estrategia digital.</p>	
				</div>
			</div>
		</section>
		<div id="growth"></div>
		<section class="row hidden-xs">
			<div class="col-md-6 col-sm-6 col-xs-12 carac2">
				<div class="col-md-offset-4 col-md-8 col-sm-8 col-sm-offset-4 text-derecha"> 	
					<h2 class="titulo-carac">Growth Marketing Academy</h2>
					<p class="descripcion">Como networkers y profesionales del marketing y la estrategia digital sabemos lo importante que es cultivar la capacidad de aprender a aprender en una industria y entorno en constante movimiento; por eso decidimos compartir contigo todo lo que hemos aprendido durante todos éstos años, y lo que aprendemos día a día para tomar acción y hacer que las cosas sucedan</p>
				</div>	
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 carac2">
				<div class="col-md-6 col-sm-6 alto vertical-align">
					<img src="{% static 'home/img/Icono_4.png' %}" alt="Estadisticas de negocio" class="img-responsive  carac2Imagen"/>
				</div>
			</div>	
		</section>

		<section class="row hidden-sm hidden-md hidden-lg">
			<div class="col-md-6 col-xs-12 carac2">
				<div class="col-md-6 alto vertical-align">
					<img src="{% static 'home/img/Icono_4.png' %}" alt="Estadisticas de negocio" class="img-responsive  carac2Imagen"/>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 carac2">
				<div class="col-md-offset-4 col-md-8 text-izquierda"> 	
					<h2 class="titulo-carac">Growth Marketing Academy</h2>
					<p class="descripcion">Como networkers y profesionales del marketing y la estrategia digital, sabemos lo importante que es cultivar la capacidad de aprender a aprender en una industria y entorno en constante movimiento; por eso decidimos compartir contigo todo lo que hemos aprendido durante todos éstos años, y lo que aprendemos día a día para tomar acción y hacer que las cosas sucedan</p>
				</div>	
			</div>	
		</section>
		
		<section class="row fondo-blanco " id="integraciones">
			<div class="col-md-12 col-sm-12 pantalla-integraciones center-block">
				<h2 class="sub">Más de 1.300 compañias</h2>
				<p class="descripcion center-block">No somos una compañía de multinivel ni esperamos serlo, somos una plataforma tecnológica pensada para ayudar a empresarios, compañías y organizaciones a crecer sus equipos y negocios a nivel global.</p>
				<div class="conjuntoIntegraciones center-block">

					<img src="{% static 'home/img/integraciones/1.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/2.jpg' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/3.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/4.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/5.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/6.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/7.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/8.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/9.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/10.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/11.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/12.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/13.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/14.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/15.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/16.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/17.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/18.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/19.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/20.jpg' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/21.jpg' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/22.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/23.png' %}" class="imgintegracion img-responsive" alt="integracion">
					<img src="{% static 'home/img/integraciones/24.png' %}" class="imgintegracion img-responsive" alt="integracion">

				</div>
				<a href="#popup" class="open-popup-link"><button type="button" class="btn btn-ancho min" id="boton-integracion">SOLICITAR ACCESO ANTICIPADO</button></a>
			</div>	
			
		</section>

		
		<section class="row fondo-azul">
			<div class="pantalla vertical-align">
				<div class="te-encierro">
					<div class="col-md-4 col-sm-4 centro-texto">
						<img src="{% static 'home/img/javier.jpg' %}" alt="Javier Vidal" class="img-circle imagen center-block">
						<p class="descripcion dicho">"Desarrollamos Codi con un diseño centrado en la experiencia de usuario. Permite tener un sitio web en menos de 10 minutos y publicarlo en internet de forma intuitiva, sencilla y agradable".</p>
						<h5 class="nombre">Javier Vidal</h5>
						<p class="puesto">COO - Codi</p>
					</div>
					
					<div class="col-md-4 col-sm-4 centro-texto">
						<img src="{% static 'home/img/samir.jpg' %}" alt="Samir Angulo" class="img-circle imagen  center-block">
						<p class="descripcion dicho">"Empresarios del siglo XXI no prospectamos con tecnicas del siglo XX. Con Codi podemos automatizar las tareas que son más importantes para el creccimiento de nuestros negocios y equipos a nivel global".</p>
						<h5 class="nombre">Samir Angulo</h5>
						<p class="puesto">CEO - Codi</p>
					</div>
							
					<div class="col-md-4 col-sm-4 centro-texto">
						<img src="{% static 'home/img/gaston.jpg' %}" alt="Gaston Zarate" class="img-circle imagen center-block">
						<p  class="descripcion dicho">"Rapido, inteligente y responsivo. Codi se adapta perfectamente a las necesidades profesionales de cada usuario y permite una correcta visualización en todos los tipos de dispositivos".</p>
						<h5 class="nombre">Gaston Zarate</h5>
						<p class="puesto">CTO - Codi</p>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 text-center center-block">
						<p><a href="#popup" class="open-popup-link"><button type="button" class="btn btn-nos btn-ancho" id="boton-integracion">SOLICITAR GRATIS ACCESO PREMIUM</button></a></p>
					</div>
				</div>
			</div>
		</section>	
		
		<section class="row ebook">

			<div class="col-md-6 col-sm-6 col-xs-12 libro vertical-align">
				<img src="{% static 'home/img/libro.jpg' %}" alt="Estrategia y marketing digital para profesionales emprendedores y pymes libro" class="img-responsive center-block img-libro">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 libro text-izquierda">
				<h2 class="sub">Descarga Gratis</h2>
				<p class="descripcion">Descubre cómo crecer exponencialmente tu negocio y organización de network marketing y venta directa a través de la prospección, segmentación, seguimiento, activación y duplicación masiva y automatizada.</p>
				<button type="button" class="btn btn-ancho btn-descargar">DESCARGAR GRATIS</button>
			</div>
		</section>
		
		<div id= "popupContacto" class= "white-popup mfp-hide text-center"> 
			
			<h1 class="sub titi">¿En que podemos ayudarte?</h1>
			
			<form role="form" method="post" action=".">{% csrf_token %}
			 <div class="form-group">
			 	{{form_con.nombre}}
			 	{{form_con.nombre.errors}}
		
			  </div>
			 
			 <div class="form-group">
			 	{{form_con.email}}
			 	{{form_con.email.errors}}					 	
			 	
			  </div>
			 <div class="form-group">
				{{form_con.consulta}}
			 	{{form_con.consulta.errors}}		
			  </div>
			  
			  <button type="submit" class="btn btn-contacto">ENVIAR</button>
			</form>

 		</div>
	
		<footer class="row" id="contacto">
			<div class="col-md-12 col-sm-12 pie vertical-align">
				<h2>© Codi.</h2>
				<h2>|</h2>
				<a href="#popupContacto" class="open-popup-contacto"><h2 class="nn">Contacto</h2></a>
				
			</div>
		</footer>

	</body>
</html>